{
  "name": "TestFlow",
  "type": "CONTACT_FLOW",
  "content": {
    "actions": [
      {
        "type": "MessageParticipant",
        "parameters": {
          "text": "Hello from ${Queue.TestQueue}"
        }
      }
    ]
  }
}
